In [80]:
import pandas as pd

nov24 = pd.read_excel('./Voter Registration Data/county_nov19.xlsx')

In [81]:
# Cleaning the data
nov24_clean = nov24.dropna()

nov24_clean.columns=nov24_clean.loc[3]
nov24_clean=nov24_clean.drop(3)

pd.set_option('display.max_rows', None)
nov24_clean.loc[nov24_clean['TOTAL']> 200000]

3,REGION,COUNTY,STATUS,DEM,REP,CON,WOR,GRE,LBT,IND,SAM,OTH,BLANK,TOTAL
7,Outside NYC,Albany,Total,106101,37841,3324,717,633,284,10586,6,193,48226,207911
57,Outside NYC,Erie,Active,283792,150571,13347,2788,1647,820,28437,0,369,113391,595162
59,Outside NYC,Erie,Total,303892,158966,13997,3014,1819,876,30271,0,416,122838,636089
105,Outside NYC,Monroe,Active,192299,125534,7857,1564,1163,942,20481,7,288,110256,460391
107,Outside NYC,Monroe,Total,208455,132912,8308,1743,1331,1018,22064,7,334,119294,495466
113,Outside NYC,Nassau,Active,371809,297801,9526,2079,1533,615,32981,9,0,228520,944873
115,Outside NYC,Nassau,Total,411317,327853,10452,2317,1757,649,36457,9,0,253183,1043994
125,Outside NYC,Onondaga,Active,112327,82286,4807,1174,964,580,15119,4,209,75246,292716
127,Outside NYC,Onondaga,Total,119843,86238,5033,1277,1065,623,16065,4,238,80453,310839
133,Outside NYC,Orange,Active,83178,69723,4319,1043,583,292,11484,6,218,51697,222543
135,Outside NYC,Orange,Total,89720,74158,4614,1165,650,310,12505,6,230,56110,239468
159,Outside NYC,Rockland,Total,96933,48053,4622,873,397,50,8195,7,242,48920,208292
189,Outside NYC,Suffolk,Active,334277,306799,20753,3915,1834,1052,42531,10,702,262530,974403
191,Outside NYC,Suffolk,Total,366027,331697,22428,4313,2074,1149,46768,10,757,287398,1062621
221,Outside NYC,Westchester,Active,296049,125070,7507,1384,936,280,21805,16,423,141245,594715
223,Outside NYC,Westchester,Total,317018,133872,7978,1513,1040,305,23433,16,437,152072,637684
237,Within NYC,Bronx,Active,563180,41020,2969,2777,980,227,13767,7,899,111977,737803
239,Within NYC,Bronx,Total,633715,47213,3403,3313,1085,254,15848,7,935,127399,833172
241,Within NYC,Kings,Active,1063080,125464,4391,4838,2782,806,28252,16,1114,262681,1493424
243,Within NYC,Kings,Total,1160786,137421,4891,5560,3193,894,32005,16,1143,291146,1637055
245,Within NYC,New York,Active,722105,89118,1744,1796,1895,862,25853,10,647,190996,1035026
247,Within NYC,New York,Total,820640,109795,2094,2166,2267,1025,32207,10,672,226921,1197797
249,Within NYC,Queens,Active,780057,129989,5295,3320,1957,637,27275,8,1256,256888,1206682
251,Within NYC,Queens,Total,828106,138342,5663,3623,2099,682,29437,8,1277,273650,1282887
253,Within NYC,Richmond,Active,128792,90023,4627,1065,421,240,9836,6,224,64056,299290
255,Within NYC,Richmond,Total,138244,95133,4900,1184,459,251,10616,6,227,68453,319473